﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC5</h1>
    <p class="lead">File Explorer</p>
    <p><a href="/Explorer/" class="btn btn-primary btn-lg">Explore more &raquo;</a></p>
</div>

