﻿
@model Explorer.ViewModels.FolderViewModel
@{
    ViewBag.Title = "Folders";
    Uri uri = Request.Url;
    bool isRoot = uri.Segments.Count() == 2;
    string UrlHelper = Server.UrlDecode(uri.Segments.Last());
    bool isFullPath = UrlHelper[UrlHelper.Length - 1] == '/';
    if (!isFullPath)
    {
        UrlHelper += '/';
    }
    string previousUrlHelper2 = "";
    for (int i = 0; i < uri.Segments.Length - 1; i++)
    {
        previousUrlHelper2 += uri.Segments[i];
    }
    if (uri.Segments.Count()>3)
    {
        previousUrlHelper2 = previousUrlHelper2.Remove(previousUrlHelper2.Length - 1, 1) + "?id=" + Model.ParentId;
    }

}



<div class="jumbotron text-center">
    @if (Model.ParentId != 0)
    {
        <a href="@previousUrlHelper2" title="@Model.Name">
            <img src="~/Content/src/up.png" alt="top Logo" align="top" style="width: 30px; height: 30px; border: none" />
        </a>

    }
    <img src="~/Content/src/folder.png" alt="Folder Logo" align="top" style="width: 40px; height: 40px; border: none" />
    @Html.DisplayFor(model => Model.Name)

</div>
@if (Model.NestedFolders.Count() == 0)
{
    <h3 class="text-danger">Folder is empty</h3>
}

<ul class="list-group">
    @{foreach (var nested in Model.NestedFolders)
        {
            string url = "";
            if (isRoot)
            {
                if (!isFullPath)
                {
                    url = string.Format("{0}{1}?id={2}", UrlHelper, nested.Name, nested.Id);
                }
                else
                {
                    url = string.Format("{0}?id={1}", nested.Name, nested.Id);
                }

            }
            else
            {
                url = string.Format("{0}{1}?id={2}", UrlHelper, nested.Name, nested.Id);

            }
            <li class="list-group-item">
                <a href="@url" title="@nested.Name">
                    <h4>
                        <img src="~/Content/src/folder.png" alt="Folder Logo" align="top" style="width: 20px; height: 20px; border: none" />
                        @nested.Name
                    </h4>
                    <span class="badge">@nested.CreationDate.ToString("MM/dd/yyyy ")</span>

                </a>

            </li>
        }
    }
</ul>


